@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Nunito:wght@200&display=swap');


body
{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #F4F1DE;
}

main
{
    flex-grow: 1;
}

a{
    text-decoration: none;
    color: black;
}

.headers
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px;
}

a:hover
{
    color: #E07A5F;
}

.Zag1
{
    font-size: 38px;
    color: #3D405B;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.Zags
{
    display: flex;
    justify-content: center;

    gap: 540px;
}

.Zag2
{
    width: 260px;
    font-family: 'Montserrat', sans-serif;
   
}

.ZagsP
{
    
    display: flex;
    justify-content: center;
    gap: 150px;
    
}

.p1
{
    width: 540px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

.howwork
{  
    margin: 60px;
    width: 1168px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Nunito', sans-serif;

   
}

.dop1
{
    width: 1168px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.wiki
{
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
}

.links
{
    width: 1168px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.dop
{
    font-family: 'Montserrat', sans-serif;
}

.abutton
{
    width:40px;
    padding: 5px;
    background-color: #81B29A;
    border-radius: 5px;
    font-family: 'Nunito', sans-serif;
    display: flex;
    justify-content: center;

}



.footers
{

    display: flex;
    border-top: 1px solid #81B29A;
    margin: 40px;
    
}

.contforn
{
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
}

.contform1
{
    font-family: 'Nunito', sans-serif;
}

.formfot
{
   
    margin: 50px;
}